{% extends 'landing_base.html' %}

{% block content %}
{% load crispy_forms_tags %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'signin/style.css' %}">


<div class="container" style="margin-block-start: 125pt">
    <div class="row">
        <aside class="col-sm-5" style="margin: auto">
            <div class="card ">
                <article class="card-body">
                    <h4 class="card-title text-center mb-4 mt-1">Password Reset</h4>
                    <hr>
                    <p>Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.</p>
                    {% for message in messages %}
                    <div class="alert alert-danger">
                        {{ message }}
                    </div>
                    {% endfor %}
                    <form method='POST' class="from-group">
                        {% csrf_token %}
                        {{form|crispy}}
                        <input class="btn btn-lg btn-success btn-block" type="submit" value="Send email">
                    </form>
                </article>
            </div>
        </aside>
    </div>
</div>


{% endblock %}
