{% extends 'landing_base.html' %}

{% block content %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'signin/style.css' %}">

<div class="container" style="margin-block-start: 125pt">
    <div class="row">
        <aside class="col-sm-5" style="margin: auto">
            <div class="card ">
                <article class="card-body">
                    <h4 class="card-title text-center mb-4 mt-1">Password reset sent</h4>
                    <hr>
                    <p>We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>
                    <p>If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p>
                    {% for message in messages %}
                    <div class="alert alert-danger">
                        {{ message }}
                    </div>
                    {% endfor %}
                    <a href="/">Back to home</a>
                </article>
            </div>
        </aside>
    </div>
</div>


{% endblock %}
