{% extends 'base.html' %}

{% block content %}
{% load crispy_forms_tags %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'signin/style.css' %}">


<div class="container" style="margin-block-start: 150pt">
    <div class="row">
        <aside class="col-sm-5" style="margin: auto">
            <div class="card ">
                <article class="card-body">
                    {% if validlink %}
                        <h4 class="card-title text-center mb-4 mt-1">Change password</h4>
                        <hr>
                        <p>Please enter your new password twice so we can verify you typed it in correctly.</p>
                        {% for message in messages %}
                        <div class="alert alert-danger">
                            {{ message }}
                        </div>
                        {% endfor %}
                        <form method='POST' class="from-group">
                            {% csrf_token %}
                            {{form|crispy}}
                            <input class="btn btn-lg btn-success btn-block" type="submit" value="Update Password">
                        </form>
                    {% else %}
                        <p>
                          The password reset link was invalid, possibly because it has already been used.
                          Please request a new password reset.
                        </p>
                    {% endif %}
                </article>
            </div>
        </aside>
    </div>
</div>

{% endblock %}
