{% extends 'landing_base.html' %}
{% block content %}
{% load crispy_forms_tags %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'signin/style.css' %}">

<script>
  document.getElementById("signin").remove();

</script>

<div class="container" style="margin-block-start: 150pt">
    <div class="row">
        <aside class="col-sm-5" style="margin:auto">
        <div class="card ">
                <article class="card-body">
                    <h4 class="card-title text-center mb-4 mt-1">Sign in</h4>
                    <hr>
                    {% for message in messages %}
                    <div class="alert alert-danger">
                        {{ message }}
                    </div>
                    {% endfor %}
                    <form method='POST' class="from-group">
                        {% csrf_token %}
                        {{form|crispy}}

                        <input class="btn btn-lg btn-success btn-block" type="submit" value="Sign In">
                    </form>
                    <p class="text-center"><a href="/signin/password_reset" class="btn">Forgot password?</a></p>

                    <div class="form-group">
                        <input class="btn btn-lg btn-success btn-block" type="submit" value="Create New Account"
                               onclick="window.location='/register'">
                    </div>
                </article>
            </div>
        </aside>
    </div>
</div>

{% endblock %}
