{% extends 'landing_base.html' %}
{% block content %}
{% load crispy_forms_tags %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'register/signup.css' %}">

<section class="ftco-section bg-light">
<div class="d-flex" id="wrapper">
<div class="container" style="margin-block-start: 100pt;">
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="row">
                <div class="col-md-3">
                    <ul class="nav nav-pills nav-pills-icons flex-column" role="tablist">
                        <!--
                            color-classes: "nav-pills-primary", "nav-pills-info", "nav-pills-success", "nav-pills-warning","nav-pills-danger"
                        -->
                        <li class="nav-item">
                            <a class="nav-link active" href="#profile" role="tab" data-toggle="tab">
                                Profile
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#preference" role="tab" data-toggle="tab">
                               Preferences
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-8">
                    <div class="tab-content">
                        <div class="tab-pane active" id="profile">
                            <div class="card ">
                                    <article class="card-body">
                                        {% for message in messages %}
                                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                                            {{ message }}
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                              </button>
                                        </div>
                                        {% endfor %}
                                        <form method='POST' class="from-group">
                                            {% csrf_token %}

                                            {% crispy form %}
                                            <!-- <div class="form-group">
                                                <button class="btn btn-success" type="submit">Update Profile</button>
                                            </div> -->
                                        </form>
                                    </article>
                            </div>
                        </div>
                        <div class="tab-pane" id="preference">

                            <div class="card ">
                                <article class="card-body">
                                    <div id="alertCst" class="alert alert-warning alert-dismissible fade show" role="alert"
                                        style="display: none;">
                                        You cannot select the same civil service title for both fields.
                                        <button type="button" class="close" onclick="$('#alertCst').css('display','none');"
                                            aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div id="alertCstSaved" class="alert alert-success alert-dismissible fade show" role="alert"
                                        style="display: none;">
                                        You preferences were successfully updated.
                                        <button type="button" class="close" onclick="$('#alertCstSaved').css('display','none');"
                                            aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div>
                                        <div class="mb-1"><b>Civil Service Titles You Hold</b></div>
                                        <select class="js-example-basic-multiple" name="current_civil_ser_title" id="current_civil_ser_title" multiple="multiple">
                                            {% for civilServTitle in civil_services_title_all %}
                                            <option value={{civilServTitle.id}}> {{civilServTitle.title_description}} </option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div>
                                        <div class="mt-3 mb-1"><b>Civil Service Titles You Are Interested In</b></div>
                                        <select class="js-example-theme-multiple" name="interested_civil_ser_title" id="interested_civil_ser_title" multiple="multiple">
                                            {% for civilServTitle in civil_services_title_all %}
                                            <option value={{civilServTitle.id}}> {{civilServTitle.title_description}} </option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                 
                                    <button class="btn btn-success mt-3" onclick="saveTitle()">Update Preferences</button>
                        
                                </article>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- row.// -->
</div>
<!--container end.//-->
</div>
</section>



{% endblock %}

{% block javascript %}
<script>
$(document).ready(function() {

    $('li.nav-item.active').removeClass('active');
    var user_curr_civil_services_title = JSON.parse("{{user_curr_civil_services_title|safe}}");
    var user_interested_civil_services_title = JSON.parse("{{user_interested_civil_services_title|safe}}");

    debugger;
    $('.js-example-theme-multiple').select2(
        {
            width: '100%',
        }
    );
    $('.js-example-basic-multiple').select2(
        {
            width: '100%',
        }
    );

    $('#current_civil_ser_title').on('select2:selecting', function (e) {

        // Do something
        $("#alertCst").css('display', 'none');
        $("#alertCstSaved").css('display', 'none');
        debugger;
        sel_cst_id=e.params.args.data.id;
        var user_int_cst = $('#interested_civil_ser_title').val();
        if (user_int_cst.includes(sel_cst_id))
        {
            $('#current_civil_ser_title').select2('close');
            $("#alertCst").css('display', 'block');
            return false;
            
        }
        debugger;
    });

    $('#interested_civil_ser_title').on('select2:selecting', function (e) {

        $("#alertCst").css('display', 'none');
        $("#alertCstSaved").css('display', 'none');
        debugger;
        sel_cst_id=e.params.args.data.id;
        var user_int_cst = $('#current_civil_ser_title').val();
        if (user_int_cst.includes(sel_cst_id))
        {
            $('#interested_civil_ser_title').select2('close');
            $("#alertCst").css('display', 'block');
            return false;
            
        }
        debugger;
    });

    if (user_curr_civil_services_title.length > 0)
    {
        $('#current_civil_ser_title').val(user_curr_civil_services_title).trigger('change');
    }

    if (user_interested_civil_services_title.length > 0)
    {
        $('#interested_civil_ser_title').val(user_interested_civil_services_title).trigger('change');
    }

   
});

function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

function saveTitle() {
        var user_curr_cst = $('#current_civil_ser_title').val();
        var user_int_cst = $('#interested_civil_ser_title').val();
        $("#alertCst").css('display', 'none');
        debugger;
        const csrftoken = getCookie('csrftoken');
        $.ajax({
            url: "{% url 'signin:SaveCivilServiceTitleView' %}",
            method: "POST",
            data: {
                csrfmiddlewaretoken: csrftoken,
                state: "inactive",
                user_curr_cst: user_curr_cst,
                user_int_cst: user_int_cst
            },
            //dataType: 'json',
            success: function (response) {
                debugger;
                if(response["response_data"]=="CST_SAVED")
                {
                    var user_curr_civil_services_title = JSON.parse(response["user_curr_civil_services_title"]);
                    var user_interested_civil_services_title = JSON.parse(response["user_interested_civil_services_title"]);
                    $('#current_civil_ser_title').val(user_curr_civil_services_title).trigger('change');
                    $('#interested_civil_ser_title').val(user_interested_civil_services_title).trigger('change');
                    $("#alertCstSaved").css('display', 'block');
                }
            },
            error: function (xhr, errmsg, err) {
                console.log("error")
            }
        });
    }
</script>
{% endblock javascript %}