{% extends 'landing_base.html' %}

{% load static %}


{% block content %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>Exam Results</title>

</head>
<br>
<br>
<br>
<br>
<br>
<section class="ftco-section bg-light">
  <div class="container">
    <table class="table">
        <thead class="thread-dark">
        <tr>
            <th class="sticky-header">Exam Number</th>
            <th class="sticky-header">List Title Code</th>
            <th class="sticky-header">List Title Descrption</th>
            <th class="sticky-header">First Name</th>
            <th class="sticky-header">Last Name</th>
            <th class="sticky-header">Final Average</th>

        </tr>
        </thead>
        <tbody>
        {% for exam in page_obj %}
        <tr>
            <td>{{ exam.exam_number }}</td>
            <td>{{ exam.list_title_code }}</td>
            <td>{{ exam.list_title_desc}}</td>
            <td>{{ exam.first_name }}</td>
            <td>{{ exam.last_name }}</td>
            <td>{{ exam.adjust_final_average }}</td>


        </tr>
        {% endfor %}
        </tbody>
    </table>


    <div class="row mt-5">
        <div class="col text-center">
          <div class="block-27">


    {% if is_paginated %}
<ul class="pagination">
  {% if page_obj.has_previous %}
    <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
  {% else %}
    <li class="disabled"><span>&laquo;</span></li>
  {% endif %}
  {% for i in paginator.page_range %}
    {% if page_obj.number == i %}
      <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
    {% else %}
      <li><a href="?page={{ i }}">{{ i }}</a></li>
    {% endif %}
  {% endfor %}
  {% if page_obj.has_next %}
    <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
  {% else %}
    <li class="disabled"><span>&raquo;</span></li>
  {% endif %}
</ul>
{% endif %}
</div>
</div>
</div>
</div>
</section>

{% endblock %}
