{% extends 'landing_base.html' %}
{% load static %}
{% load humanize %}
{% block content %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>Saved Jobs</title>

    <style>
        .countbadges {
            padding: 0 !important;
            padding-left: 1.75rem !important;
            font-size: 45px;
            font-weight: 650;
        }
    </style>
</head>
<br>
<br>
<br>
<br>

<section class="ftco-section bg-light">
    <div class="d-flex" id="wrapper">

        <!-- Sidebar -->
        <div class="bg-light border-right" id="sidebar-wrapper">
            <div class="sidebar-heading" style="color:black"><b>Welcome {{user.first_name}}!</b></div>
            <div class="list-group list-group-flush">
                <a href="{% url 'dashboard:dashboard' %}"
                    class="nav-item list-group-item list-group-item-action bg-light text-success ">Dashboard</a>
                <a href="{% url 'dashboard:savedjobs' %}"
                    class="nav-item list-group-item list-group-item-action bg-light"> Saved Jobs</a>
                <a href="{% url 'dashboard:subscription' %}" class="list-group-item list-group-item-action bg-light">Subscriptions</a>
            </div>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">

            <div id="layoutSidenav">
                <div id="layoutSidenav_content">
                    <main>
                        <div class="col-md-12 ftco-animate">
                            <div class="container-fluid" style="padding-top: 0px;">

                                <h1 class="mt-1">Dashboard</h1>

                                <div class="row flex">
                                    <div class="col-xl-4 col-md-6">
                                        <div class="card bg-warning text-white mb-3">
                                            <div class="card-header">Saved Jobs</div>
                                            {% if saved_jobs_user and jobs %}
                                            {% for job in jobs %}
                                            {% if forloop.last  %}
                                            <div class="card-body countbadges">
                                                <p class="card-text">{{forloop.counter}}</p>
                                            </div>
                                            {% endif %}
                                            {% endfor %}
                                            {% else %}
                                            <div class="card-body countbadges">
                                                <p class="card-text">0</p>
                                            </div>
                                            {% endif %}
                                            <div class="card-footer d-flex align-items-center justify-content-between">
                                                <a class="small text-white stretched-link"
                                                    href="{% url 'dashboard:savedjobs' %}">View All</a>
                                                <div class="small text-white"><i class="fa fa-angle-right"></i></div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xl-4 col-md-6">
                                        <div class="card bg-info text-white mb-3">
                                            <div class="card-header">Recommended Jobs</div>

                                            <div class="card-body countbadges">
                                                <p class="card-text">0</p>
                                            </div>
                                            <div class="card-footer d-flex align-items-center justify-content-between">
                                                <a class="small text-white stretched-link" href="#">View All</a>
                                                <div class="small text-white"><i class="fa fa-angle-right"></i></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-md-6">
                                        <div class="card bg-success text-white mb-3">
                                            <div class="card-header">Subscriptions</div>

                                            <div class="card-body countbadges">
                                                <p class="card-text">{{user_subscriptions_count}}</p>
                                            </div>
                                            <div class="card-footer d-flex align-items-center justify-content-between">
                                                <a class="small text-white stretched-link" href="{% url 'dashboard:subscription' %}">View All</a>
                                                <div class="small text-white"><i class="fa fa-angle-right"></i></div>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                            <div class="card mb-4 text-black">
                                <div class="card-header"> <i class="fa fa-table mr-1"></i>Upcoming Exams</div>
                                <link rel="stylesheet" type="text/css"
                                    href="//cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css">
                                <table id="exam_schedule" class="table table-striped table-bordered" style="width:99%">
                                    <thead>
                                        <th>Exam No.</th>
                                        <th>Exam Title</th>
                                        <th>Application Start Date</th>
                                        <th>Application End Date</th>
                                        <th>Public/Promotion/QIE</th>
                                    </thead>
                                    <tbody>
                                        {% for exam in exam_schedule %}
                                        <tr>
                                            <td>{{exam.exam_number}}</td>
                                            <td>{{exam.exam_title_civil_service_title}}</td>
                                            <td>{{exam.application_start_date}}</td>
                                            <td>{{exam.application_end_date}}</td>
                                            <td>{% if exam.exam_type == 'QIE' %}
                                                Qualifield Incumbent Exam
                                                {% else %}
                                                {{exam.exam_type}}
                                                {% endif%}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </main>

                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block javascript %}
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
<script>
    //$(document).ready(function() {
    var form = $('.favJob');
    var formMessages = $('#form-messages');
    $(form).submit(function (event) {

        // Current form
        var currentForm = $(this);
        // Stop the browser from submitting the form.
        event.preventDefault();

        // Serialize the form data.
        var formData = currentForm.serialize();
        var user = "{{user}}";
        //alert(user);

        $.ajax({
            type: 'POST',
            url: currentForm.attr('save_unsave_url'),
            data: formData
        }).done(function (response) {
            debugger;
            //$("#favBtnID" + response["job_id"]).css("opacity", 1);
            if (response["response_data"] == "Job Saved") {
                $('#favBtnID' + response["job_id"]).css({
                    'cssText': 'background-color: #28a745 !important; opacity:1'
                });
                // $('#favBtnID' + response["job_id"]).css({
                //     'cssText': 'background-color: #28a745 !important; opacity:1'
                // });
                $("#favBtnID" + response["job_id"]).children().css("color", "#fdab44");
                $("#favBtnID" + response["job_id"]).attr('title', 'Unsave');
            } else if (response["response_data"] == "Job Unsaved") {
                $('#favBtnID' + response["job_id"]).css({
                    'cssText': 'background-color: #28a745 !important; opacity:1'
                });
                // $('#favBtnID' + response["job_id"]).css({
                //     'cssText': 'background-color: #FFFFFF !important; opacity:1'
                // });
                $("#favBtnID" + response["job_id"]).children().css("color", "#FFFFFF");
                // $("#favBtnID" + response["job_id"]).removeAttr("style");
                $("#favBtnID" + response["job_id"]).attr('title', 'Save');
            } else if (response["response_data"] == "User not authenticated") {
                // if ($("#alert" + response["job_id"]).css('display') == 'none') {
                //     $("#alert" + response["job_id"]).css('display', 'block');
                // }
                $('#exampleModal').modal('toggle');
                //alert("Please sign in to favorite a job");
            }

            console.log("response")
            //Do something
        }).fail(function (data) {
            //Do something
            console.log("fail")
            debugger;

        });
    });
    //  });

    $('#exampleModal1').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget); // Button that triggered the modal
        var civilServiceTitle = button.data('civilservicetitle');
        var businessTitle = button.data('businesstitle');
        var jobID = button.data('jobid');
        var modal = $(this);
        //console.log(modal.find('.modal-link'));
        //debugger;
        modal.find('.modal-title').text(businessTitle);
        modal.find('.modal-body').text('The job you selected requires Civil Service Title: ' + civilServiceTitle + '. In order to apply, you must be an existing title holder or awaiting the examination result for the title. Do you still want to continue?');
        modal.find('.modal-link button').click(function () {
            //alert(jobID);
            win = window.open("https://a127-jobs.nyc.gov/index_new.html?keyword=" + jobID, '_blank');
            if (win) {
                //Browser has allowed it to be opened
                win.focus();
            } else {
                //Browser has blocked it
                alert('Please allow popups for this website');
            }
            modal.modal('toggle');


        });
    });

    $('#exampleModal1').on('hide.bs.modal', function (e) {
        var modal = $(this);
        modal.find('.modal-link button').prop("onclick", null).off("click");
    });

    $("#menu-toggle").click(function (e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });

    $(document).ready(function () {
        $('#exam_schedule').DataTable(
            { "bLengthChange": false, }
        );
    });
</script>
{% endblock javascript %}