{% extends 'landing_base.html' %}
{% block content %}
{% load crispy_forms_tags %}
{% load static %}
{#<link rel="stylesheet" type="text/css" href="{% static 'contact/style.css' %}">#}

<section class="ftco-section bg-light pt-5">

<div class="pt-5">
  <div class="container">
    <div class="row h-100 align-items-center pt-5 pb-3" style="padding-left: 15px;">
        <h2 class="font-weight-light" style="margin: auto;" >About us</h2>
    </div>
  </div>
</div>

<div class="bg-white py-4">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 order-2 order-lg-1">
        <h2 class="font-weight-light"><i class="fa fa-bar-chart fa-1x mb-3 text-primary"></i> Our Mission
        </h2>
        <p class="font-italic text-muted mb-4">To provide users with a consolidated web application for their NYC civil service job hunt that supports all their needs in one place</p><a href="#" class="btn btn-light px-5 rounded-pill shadow-sm">Learn More</a>
      </div>
      <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2"><img src="https://res.cloudinary.com/mhmd/image/upload/v1556834139/img-1_e25nvh.jpg" alt="" class="img-fluid mb-4 mb-lg-0"></div>
    </div>
  </div>
</div>

<div class="bg-light">
  <div class="container">
    <div class="row py-4" style="padding-left: 15px; padding-right: 15px;">
      <div>
          <div>
              <h2 class="font-weight-light"><i class="fa fa-leaf fa-1x mb-3 pt-2 text-primary"></i> Our team
              </h2>
              <p class="font-italic text-muted">We are Python Pirates, from New York University's Tandon School of Engineering</p>
          </div>
      </div>

    <div class="row text-center">
      <!-- Team item-->
      <div class="col pr-2" style="width: 500px">
        <div class="bg-white rounded shadow-sm py-5 px-4"><img src="{% static 'images/avatar1.png' %}" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">Gaurav</h5><span class="small text-uppercase text-muted">Developer</span>
          <ul class="social mb-0 list-inline mt-3">
{#            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>#}
{#            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>#}
{#            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>#}
            <li class="list-inline-item"><a href="https://www.linkedin.com/in/gauravag2207/" class="social-link" target="blank"><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
      <!-- End-->

      <!-- Team item-->
      <div class="col pr-2">
        <div class="bg-white rounded shadow-sm py-5 px-4"><img src="{% static 'images/avatar2.png' %}" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">Iffat</h5><span class="small text-uppercase text-muted">Product Owner</span>
          <ul class="social mb-0 list-inline mt-3">
{#            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>#}
{#            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>#}
{#            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>#}
            <li class="list-inline-item"><a href="https://www.linkedin.com/in/iffat-rahman/" class="social-link" target="blank"><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
      <!-- End-->

      <!-- Team item-->
      <div class="col pr-2">
        <div class="bg-white rounded shadow-sm py-5 px-4"><img src="{% static 'images/avatar3.png' %}" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">Josh</h5><span class="small text-uppercase text-muted">Developer</span>
          <ul class="social mb-0 list-inline mt-3">
{#            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>#}
{#            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>#}
{#            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>#}
            <li class="list-inline-item"><a href="https://www.linkedin.com/in/suvradeep-ganguly-146003a7/" class="social-link" target="blank"><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
      <!-- End-->

      <!-- Team item-->
      <div class="col pr-2">
        <div class="bg-white rounded shadow-sm py-5 px-4"><img src="{% static 'images/avatar4.png' %}" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">Savitha</h5><span class="small text-uppercase text-muted">Developer</span>
          <ul class="social mb-0 list-inline mt-3">
{#            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>#}
{#            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>#}
{#            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>#}
            <li class="list-inline-item"><a href="https://www.linkedin.com/in/savithagn/" class="social-link" target="blank"><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
      <!-- End-->

      <!-- Team item-->
      <div class="col pr-2">
        <div class="bg-white rounded shadow-sm py-5 px-4"><img src="{% static 'images/avatar5.png' %}" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">Shivang</h5><span class="small text-uppercase text-muted">Developer</span>
          <ul class="social mb-0 list-inline mt-3">
{#            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>#}
{#            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>#}
{#            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>#}
            <li class="list-inline-item"><a href="https://www.linkedin.com/in/shivangpandya/" class="social-link" target="blank"><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
      <!-- End-->

    </div>
  </div>
</div>


</section>

{% endblock %}

{% block javascript %}
<script>
$(document).ready(function() {
    $('li.nav-item.active').removeClass('active');   
});
</script>
{% endblock javascript %}
