{% extends 'landing_base.html' %}
{% load static %}

{% block content %}
<div class="hero-wrap js-fullheight">
  <div class="overlay"></div>
  <div class="container-fluid px-0">
    <div class="row d-md-flex no-gutters slider-text align-items-end js-fullheight justify-content-end">
      <img class="one-third align-self-end order-md-last img-fluid" src="{% static 'images/undraw_work_time_lhoj.svg' %}" alt="">
      <div class="one-forth d-flex align-items-center ftco-animate js-fullheight">
        <div class="text mt-5">
          <p class="mb-4 mt-5 pt-5">We have <span class="number" data-number={{total_jobs}}>0</span> great civil service jobs for you!</p>
            <h1 class="mb-5">One stop for all your NYC Civil Service needs.</h1>

          <div class="ftco-search">
          <section class=" services-section">
            <div class="row">
              <div class="col-md-12 ">
                <div class="nav nav-pills text-center" id="v-pills-tab"  aria-orientation="vertical">
                  <a class="nav-link active mr-md-1" id="v-pills-1-tab" data-toggle="pill" href="#v-pills-1" role="tab" aria-controls="v-pills-1" aria-selected="true">Search Jobs</a>
                  <a class="nav-link" id="v-pills-2-tab" data-toggle="pill" href="#v-pills-2" role="tab" aria-controls="v-pills-2" aria-selected="false">Search Exam Results</a>

              </div>
              </div>
              <div class="col-md-12 tab-wrap">

                <div class="tab-content p-5" id="v-pills-tabContent">

                  <div class="tab-pane fade show active" id="v-pills-1" role="tabpanel" aria-labelledby="v-pills-nextgen-tab">
                    <form method="GET" action="{% url 'jobs:results' %}" class="search-job">
                      <div class="row no-gutters">
                        <div class="col-md-8">
                          <div class="form-group">
                            <div class="form-field mr-2">
                              <div class="icon"><span class="icon-pencil"></span></div>
                                    <input class="form-control border-right-0 border" type="search" name="q" id="id_q"  placeholder="Civil Service Title, Business Title, or Agency" />

                                </div>
                          </div>
                          </div>
                            <div class="col-md">
                              <div class="form-group">
                                <div class="form-field">
                                  <button type="submit" class="form-control btn btn-secondary">Search</button>
                                </div>
                              </div>
                            </div>
                        </div>
                    </form>
                  </div>
                  <div class="tab-pane fade" id="v-pills-2" role="tabpanel" aria-labelledby="v-pills-performance-tab">
                    <form action="{% url 'examresults:exams' %}" class="search-job">
                      <div class="row no-gutters">
                        <div class="col-md-8">
                          <div class="form-group">
                            <div class="form-field mr-2">
                              <div class="icon"><span class="icon-pencil"></span></div>
                              <input type="text" class="form-control" name="q" placeholder="Exam Number or List Title Code">
                            </div>
                          </div>
                        </div>
                        <div class="col-md">
                          <div class="form-group">
                            <div class="form-field">
                              <button type="submit" class="form-control btn btn-secondary">Search</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



{% endblock %}
