{% extends 'landing_base.html' %}
{% load static %}
{% load humanize %}
{% block content %}


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>Jobs</title>

</head>
<br>
<br>
<br>
<br>
<br>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript">
var date_asc=false;
  function putTableData(data) {
        console.log()
        $("#listing").html(data.rendered_table);

    }
  $(document).ready(function() {

    $( "#posting-type" ).change(function(event) {
      senddata()
    });
    $('#post-after').change(function() {
      senddata()
    });
    $('#agency').change(function() {
      senddata()
    });
    $( "#fp" ).change(function(event) {
      senddata()
    });


  $("#cs_title").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $(".dropdown-menu li").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});

function sort(id){
  var button_text="Sort "
  if(id=="sort-posting"){
    date_asc = !date_asc

    if(date_asc)
      {
        button_text+=": Date Posted "+"<i class='fa fa-sort-amount-asc'></i>"
        document.getElementById("sort-posting").innerHTML="Date Posted "+"<i class='fa fa-sort-amount-desc'></i>"}
    else
      {
        button_text+=": Date Posted "+"<i class='fa fa-sort-amount-desc'></i>"
        document.getElementById("sort-posting").innerHTML="Date Posted "+"<i class='fa fa-sort-amount-asc'></i>"}
  }
  document.getElementById("sort-order").value = id
  document.getElementById("sort-order").innerHTML = button_text
  senddata()

  console.log(id,date_asc)
}
function senddata(){
  var query = $('#id_q').val()
  var posting_type= $('#posting-type').find(":selected").val()
  var date = $('#post-after').val();
  var agency = $('#agency').find(":selected").val()
  var sort_order = $("#sort-order").val()
  var fp = $("#fp").val()
  console.log("sort-order",sort_order)
  var asc;
  if(sort_order=="sort-posting")
    asc=date_asc
  else if (sort_order=="") {
    asc = ""
  }

  var ids = new Array();
        $('input[name="ids[]"]:checked').each(function(){
           ids.push($(this).val());
        });



  var dataString = 'ids='+ ids;
  console.log(dataString);
  console.log(posting_type,date);
  $.ajax({
   url: "{% url 'jobs:filter' %}",
   method: "POST",
   data: {
     csrfmiddlewaretoken: "{{ csrf_token }}",
     state:"inactive",
     posting_type:posting_type,
     date:date,
     agency:agency,
     sort_order:sort_order,
     asc:asc,
     query:query,
     fp:fp
   },
   success: function(json){
      putTableData(json);
   },
   error: function(xhr, errmsg, err){
       console.log("error")
   }
});
}

</script>

<section class="ftco-section bg-light">
    <form id="form" method="GET" action="{% url 'jobs:filter' %}">
        <div class="form-row">
            <div class="col"></div>
            <div class="form-group col col-md-6">
                <div class="input-group">
                    <input class="form-control" type="search" name="q" id="id_q" value="{{request.GET.q}}"
                        placeholder="Civil Service Title, Business Title, or Agency" />
                    <!-- <input class="form-control" type="search" name="posting_type_query" id="id_posting_type_query"
                        value="{{request.GET.posting_type_query}}" placeholder="Filter through Posting Type" /> -->
                    <!-- <select name="posting-type" id="posting-type">
                    <option value=""> Posting Type </option>
                    <option value="External">External </option>
                    <option value="Internal">Internal </option>

                    </select>

                    <select name="agency" id="agency">
                      <option value=""> Agency </option>
                      {% for agency in agencies %}
                        <option value={{forloop.counter0}}> {{agency}} </option>
                      {% endfor %}
                    </select>

                    <input type="date" id="post-after",name="post-after"> -->
                </div>
            </div>
            <button type="submit" class="form-group btn btn-primary" method="get" action="{% url 'jobs:results' %}"
                value="Search">Search</button>
            <div class="col"></div>


        </div>
    </form>
    <!-- <div class="btn-group sort-btn">
        <button class="btn btn-primary" id="sort-order" type="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false" value=""> Sort</button>
        <button class="btn btn-primary dropdown-toggle" data-sort="none"><i class="fa fa-sort"></i></button>
        <!-- .dropdown-toggle adds rounded borders and reduces padding. It does not trigger dropdowns.
        <ul class="dropdown-menu">
          <a href="#" class="list-group-item list-group-item-action active"></a>
          <li onclick="sort(this.id)" id="">Default </li>
          <li onclick="sort(this.id)" id="sort-posting">Date </li>

        </ul>
    </div> -->

    <!--Job Card Starts here .//-->
    <div class="container">

        <div class="row">

          <div class="col-lg-3 sidebar">

              <div class="row justify-content-center pb-3">
                  <div class="col-md-12 heading-section">
                    <h2 class="mb-4">&nbsp<h2>
                  </div>
              </div>
            <div class="sidebar-box bg-white p-4 ftco-animate">
              <h3 class="heading-sidebar">Filters </h3>
              <div class="btn-group sort-btn">
            <button class="btn btn-primary dropdown-toggle " type="button" id="sort-order" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Sort  </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" onclick="sort(this.id)" id="" href="#">Default</a>
              <a class="dropdown-item" onclick="sort(this.id)" id="sort-posting" href="#">Posting Date<i class="fa fa-sort-amount-asc"></i> </a>

            </div>
          </div>
          <hr class="mt-2 mb-3"/>

          <!-- <label for="option-job-1"><input type="checkbox" id="option-job-1" name="vehicle" value="" checked> Website &amp; Software</label><br>
          <label for="option-job-2"><input type="checkbox" id="option-job-2" name="vehicle" value=""> Education &amp; Training</label><br>
          <label for="option-job-3"><input type="checkbox" id="option-job-3" name="vehicle" value=""> Graphics Design</label><br>
          <label for="option-job-4"><input type="checkbox" id="option-job-4" name="vehicle" value=""> Accounting &amp; Finance</label><br>
          <label for="option-job-5"><input type="checkbox" id="option-job-5" name="vehicle" value=""> Restaurant &amp; Food</label><br>
          <label for="option-job-6"><input type="checkbox" id="option-job-6" name="vehicle" value=""> Health &amp; Hospital</label><br>
          <label for="option-job-1"><input type="checkbox" id="option-job-1" class="ids" name="ids[]" value="Part"> Part Time </label>
          <input type="checkbox" class="ids" name="ids[]" value="3">
          <input type="checkbox" class="ids" name="ids[]" value="4">
          <input type="checkbox" class="ids" name="ids[]" value="5">
          <input type="checkbox" class="ids" name="ids[]" value="6"> -->

                  <select class="form-control"  name="posting-type" id="posting-type">
                  <option value=""> Posting Type </option>
                  <option value="External">External </option>
                  <option value="Internal">Internal </option>

                  </select>
                  <hr class="mt-2 mb-3"/>

                  <select class="form-control"  name="fp" id="fp">
                  <option value=""> Part, Full </option>
                  <option value="P">Part-Time </option>
                  <option value="F">Full-Time </option>

                  </select>
                  <hr class="mt-2 mb-3"/>

                  <select class="form-control"  name="agency" id="agency">
                    <option value=""> Agency </option>
                    {% for agency in agencies %}
                      <option value={{forloop.counter0}}> {{agency}} </option>
                    {% endfor %}
                  </select>


                  <hr class="mt-2 mb-3"/>

                  <!-- <div class="dropdown">
                  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Civil Service Title
                  <ul class="dropdown-menu">
                    <input class="form-control" id="cs_title" type="text" placeholder="Search..">
                    <li><a href="#">Blah</a></li>
                    {% for title in cs_titles %}
                      <li><a href="#">{{title}}</a></li>
                    {% endfor %}
                  </ul>
                </div> -->

                  <label for="post-after">  Posted After: </label>
                  <input class="form-control"  type="date" id="post-after" name="post-after">

            </div>
          </div>
          <div class="col-lg-9 pr-lg-4">

        <div class="row" id="listing">

          {% include "jobs/table_content.html" with jobs=object_list %}
        </div>
        </div>

        </div>
        <!-- <div class="row" >
{% if object_list %}
            {% for result in object_list %}
            <div class="col-md-12 ftco-animate">
                <div class="job-post-item p-4 d-block d-lg-flex align-items-center">
                    <div class="one-third mb-4 mb-md-0">
                        <div class="job-post-item-header align-items-center">
                            <span class="bg-primary text-white badge py-2 px-3">{{result.posting_type}}</span>
                            <span class="bg-primary text-white badge py-2 px-3"
                                style="margin-left: 5px">{{result.career_level }}</span>
                            {% if result.post_until is None %}
                            <span class="bg-primary text-white badge py-2 px-3" style="margin-left: 5px">Deadline:
                                Until
                                Position is Filled</span>
                            {% else %}
                            <span class="bg-primary text-white badge py-2 px-3" style="margin-left: 5px">Deadline:
                                {{result.post_until }}</span>
                            {% endif %}

                            <h2><a class="mr-2 text-black" data-toggle="collapse"
                                    href="#demo{{result.id}}">{{result.business_title}}</a> </h2>
                            <div id="demo{{result.id}}" class="collapse">
                                <p><b>Title Classification: </b>{{result.title_classification}}</p>
                                {% if result.full_time_part_time_indicator == 'F' %}
                                <p><b>Full-time/Part-Time: </b>Full-Time</p>
                                {% else %}
                                <p><b>Full-time/Part-Time: </b>Part-Time</p>
                                {% endif %}
                                <p><b>Recidency Requirement: </b>{{result.residency_requirement}}</p>
                                {% if result.posting_updated %}
                                <p><b>Last Updated: </b> {{result.posting_updated}}</p>
                                {% else %}
                                <p><b>Posted Dated: </b> {{result.posting_date}}</p>
                                {% endif %}
                                <p><b>Title Classification: </b>{{result.title_classification}}</p>
                                <p><b>Salary Range: </b>${{result.salary_range_from|floatformat:2|intcomma }} -
                                    ${{result.salary_range_to|floatformat:2|intcomma }}
                                    ({{result.salary_frequency}})</p>
                            </div>
                        </div>
                        <div class="job-post-item-body d-block d-md-flex">
                            <div class="mr-3"><span class="icon-layers"></span> <a>{{result.agency}}</a>
                            </div>
                            <div><span class="icon-person"></span> <span>{{result.civil_service_title}}</span></div>
                        </div>
                    </div>

                    <div class="one-forth ml-auto d-flex align-items-center mt-4 md-md-0">
                        <div>
                            <a href="#"
                                class="icon text-center d-flex justify-content-center align-items-center icon mr-2">
                                <span class="icon-heart"></span>
                            </a>
                        </div>
                        <a href="#" class="btn btn-primary py-2">Apply Job</a>
                    </div>
                </div>
            </div><
            {% endfor %}
        </div>
        {% else %}
        <h2 class="mb-4">No results found at this time.</h2>
        {% endif %}-->
    </div>
</section>
{% endblock %}
