{% load humanize %}

{% for job in jobs %}
<div class="col-md-12 ">
    <div class="job-post-item p-4 d-block d-lg-flex align-items-center">
        <div class="one-third mb-4 mb-md-0">
            <div class="job-post-item-header align-items-center">
                {% if job.posting_type == "Internal" %}
                <span class="text-white badge py-2 px-3" style="background-color:palevioletred" data-toggle="tooltip"
                    data-placement="top" title="Posting open to Internal City Employees">{{job.posting_type}}</span>
                {% else %}
                <span class="text-white badge py-2 px-3" style="background-color:steelblue" data-toggle="tooltip"
                    data-placement="top" title="Posting open to Public">{{job.posting_type}}</span>
                {% endif %}
                <span class="text-white badge py-2 px-3"
                    style="margin-left: 5px; background-color:olive">{{job.career_level }}</span>
                {% if job.post_until is None %}
                <span class="text-white badge py-2 px-3" style="margin-left: 5px; background-color:salmon">Deadline:
                    Until
                    Position is Filled</span>
                {% else %}
                <span class="text-white badge py-2 px-3" style="margin-left: 5px; background-color:salmon">Deadline:
                    {{job.post_until }}</span>
                {% endif %}

                <h2><a class="mr-2 text-black" data-toggle="collapse" href="#demo{{job.id}}">{{job.business_title}}</a>
                </h2>
                <div id="demo{{job.id}}" class="collapse"
                    style="overflow-y: auto; max-height: 40vh; margin-bottom: 10px;">
                    <p><b>Job Id: </b>{{job.job_id}}</p>
                    {% if job.posting_updated %}
                    <p><b>Last Updated: </b>{{job.posting_updated}}</p>
                    {% else %}
                    <p><b>Posted Date: </b>{{job.posting_date}}</p>
                    {% endif %}

                    <p><b>Title Classification:</b>
                        {% if job.title_classification == 'Competitive' %}
                        <span data-toggle="tooltip" data-placement="right"
                            title="The Civil Service Title for this posting requires taking an education/experience exam, written exam or both">{{job.title_classification}}</span>
                    </p>
                    {% else %}
                    <span data-toggle="tooltip" data-placement="right"
                        title="The Civil Service Title for this posting doesn't require taking an exam">{{job.title_classification}}</span>
                    {% endif %}
                    </p>
                    {% if job.full_time_part_time_indicator == 'F' %}
                    <p><b>Full-time/Part-Time: </b>Full-Time</p>
                    {% else %}
                    <p><b>Full-time/Part-Time: </b>Part-Time</p>
                    {% endif %}
                    <p><b>Residency Requirement: </b>{{job.residency_requirement}}</p>
                    <p><b>Salary Range: </b>${{job.salary_range_from|floatformat:2|intcomma }} -
                        ${{job.salary_range_to|floatformat:2|intcomma }}
                        ({{job.salary_frequency}})</p>
                    <p><b>Description: </b>{{job.job_description|linebreaksbr}}</p>
                    {% if job.minimum_qual_requirements%}
                    <p><b>Minimum Qualification: </b>{{job.minimum_qual_requirements|linebreaksbr}}</p>
                    {% endif %}
                    {% if job.preferred_skills%}
                    <p><b>Preferred Skill: </b>{{job.preferred_skills|linebreaksbr}}</p>
                    {% endif %}
                    {% if job.additional_information%}
                    <p><b>Additional Information: </b>{{job.additional_information|linebreaksbr}}</p>
                    {% endif %}
                </div>
            </div>
            <div class="job-post-item-body d-block d-md-flex">
                <div class="mr-3"><span class="icon-layers"></span> <span data-toggle="tooltip" data-placement="bottom"
                        title="Agency">{{job.agency}}</span>
                </div>
                <div><span class="icon-person"></span> <span data-toggle="tooltip" data-placement="bottom"
                        title="Civil Service Title">{{job.civil_service_title}}</span>
                </div>
            </div>
        </div>

        <div class="one-forth ml-auto d-flex align-items-center mt-4 md-md-0" style="
        width: auto">
            <div>
                <form onsubmit="return false;" save_unsave_url="{% url 'jobs:saveJob' job.id %}" method=POST
                    class="favJob">
                    {% csrf_token %}
                    <input type="hidden" name="jobs_pk_id" value="{{ job.id }}" />
                    <button type="submit" class="btn">
                        {%if saved_jobs_user is not None and job.id in saved_jobs_user%}
                        <i id="favBtnID{{job.id}}"
                            class=" icon text-center d-flex justify-content-center align-items-center icon mr-2"
                            data-toggle="tooltip" data-placement="top" title="Unsave"
                            style="opacity: 1; background-color: rgb(40, 167, 69) !important;">
                            <span class="icon-heart" style="color:#fdab44;"></span>
                        </i>
                        {% else %}
                        <i id="favBtnID{{job.id}}"
                            class=" icon text-center d-flex justify-content-center align-items-center icon mr-2"
                            data-toggle="tooltip" data-placement="top" title="Save"
                            style="opacity: 1; background-color: rgb(40, 167, 69) !important;">
                            <span class="icon-heart" style="color: rgb(255, 255, 255);"></span>
                        </i>
                        {% endif %}
                    </button>
                </form>
            </div>
            <div>
                {% if request.user.is_authenticated %}

                {% if job.title_classification == "Competitive" %}

                <!-- Button trigger modal for competetive -->
                <button type="button" class="btn btn-primary py-2" data-toggle="modal" data-target="#exampleModal1"
                    data-civilServiceTitle="{{job.civil_service_title}}" data-businessTitle="{{job.business_title}}"
                    data-jobid="{{job.job_id}}">
                    Apply</button>

                {% else %}
                <!-- Button trigger redirect for non-competitive -->

                <a href="https://a127-jobs.nyc.gov/index_new.html?keyword={{job.job_id}}" target="_blank"><button
                        type="button" class="btn btn-primary py-2" data-civilServiceTitle="{{job.civil_service_title}}"
                        data-businessTitle="{{job.business_title}}" data-jobid="{{job.job_id}}">
                        Apply</button></a>
                {% endif %}

                {% else %}

                <!-- Button trigger modal if user is not authenticated -->
                <button type="button" class="btn btn-primary py-2" data-toggle="modal" data-target="#exampleModal"
                    data-civilServiceTitle="{{job.civil_service_title}}" data-businessTitle="{{job.business_title}}"
                    data-jobid="{{job.job_id}}">
                    Apply</button>
                {% endif %}

            </div>
        </div>
    </div>
</div>
{% endfor %}

{% if is_paginated %}
<div class="row md-12" style="margin: auto;">
  <div class="col text-center d-flex justify-content-center">
    <div class="block-27">
  <ul class="pagination links" >




    {% if jobs.has_previous %}
      <!-- <li><a id="prev" href="javascript:senddata('You clicked!')?page={{ page_obj.previous_page_number }}&q={{request.GET.q}}">&laquo;</a></li> -->
      <li><a id="prev" href="javascript:senddata({{ page_obj.previous_page_number }})">&laquo;</a></li>

    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% if jobs.number == 1 %}
      <li class="active"><span>1 <span class="sr-only">(current)</span></span></li>
     {% else %}
    <li><a href="javascript:senddata(1)">1</a></li>
    {% endif %}
    {% if jobs.number|add:'-2' > 2 %}
    <li><a href="javascript:senddata({{jobs.number|add:'-3'}})">&hellip;</a></li>
{% endif %}

    {% for i in paginator.page_range %}
    {% if i > 1 and i < paginator.num_pages %}
      {% if jobs.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% elif i > jobs.number|add:'-3' and i < jobs.number|add:'3' %}
        <li> <a href="javascript:senddata({{ i }})">{{ i }}</a> </li>
      {% endif %}
    {% endif %}

    {% endfor %}

    {% if paginator.num_pages > jobs.number|add:'3' %}
    <li><a href="javascript:senddata({{jobs.number|add:'3'}})">&hellip;</a></li>
{% endif %}
{% if paginator.num_pages > 1 %}
{% if jobs.number == paginator.num_pages  and jobs.number > 1 %}
  <li class="active"><span>{{paginator.num_pages}} <span class="sr-only">(current)</span></span></li>
{% else %}
<li><a href="javascript:senddata({{paginator.num_pages}})">{{paginator.num_pages}}</a></li>
{% endif %}
{% endif %}
    {% if jobs.has_next %}
      <li><a id="next" href="javascript:senddata({{ jobs.next_page_number }})">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}

  </ul>
{% endif %}
</div>
</div>
</div>
