{% load humanize %}
<div class="col-md-12">
    <div class="row justify-content-center pb-3">
        <div class="col-md-12 heading-section">
            <h2 class="mb-4">Found {{jobs.count}} matching jobs: </h2>
        </div>
    </div>
</div>
{% for job in jobs %}
<div class="col-md-12 ">
    <div class="job-post-item p-4 d-block d-lg-flex align-items-center">
        <div class="one-third mb-4 mb-md-0">
            <div class="job-post-item-header align-items-center">
                {% if job.posting_type == "Internal" %}
                <span class="text-white badge py-2 px-3"
                    style="background-color:palevioletred">{{job.posting_type}}</span>
                {% else %}
                <span class="text-white badge py-2 px-3"
                    style="background-color:steelblue">{{job.posting_type}}</span>
                {% endif %}
                <span class="text-white badge py-2 px-3"
                    style="margin-left: 5px; background-color:olive">{{job.career_level }}</span>
                {% if job.post_until is None %}
                <span class="text-white badge py-2 px-3"
                    style="margin-left: 5px; background-color:salmon">Deadline: Until
                    Position is Filled</span>
                {% else %}
                <span class="text-white badge py-2 px-3"
                    style="margin-left: 5px; background-color:salmon">Deadline:
                    {{job.post_until }}</span>
                {% endif %}

                <h2><a class="mr-2 text-black" data-toggle="collapse"
                        href="#demo{{job.id}}">{{job.business_title}}</a> </h2>
                <div id="demo{{job.id}}" class="collapse"
                    style="overflow-y: auto; scroll:auto; max-height: 40vh">
                    <p><b>Job Id: </b>{{job.job_id}}</p>
                    {% if job.posting_updated %}
                    <p><b>Last Updated: </b>{{job.posting_updated}}</p>
                    {% else %}
                    <p><b>Posted Date: </b>{{job.posting_date}}</p>
                    {% endif %}
                    <p><b>Title Classification: </b>{{job.title_classification}}</p>
                    {% if job.full_time_part_time_indicator == 'F' %}
                    <p><b>Full-time/Part-Time: </b>Full-Time</p>
                    {% else %}
                    <p><b>Full-time/Part-Time: </b>Part-Time</p>
                    {% endif %}
                    <p><b>Residency Requirement: </b>{{job.residency_requirement}}</p>
                    <p><b>Salary Range: </b>${{job.salary_range_from|floatformat:2|intcomma }} -
                        ${{job.salary_range_to|floatformat:2|intcomma }}
                        ({{job.salary_frequency}})</p>
                    <p><b>Description: </b>{{job.job_description|linebreaksbr}}</p>
                    {% if job.minimum_qual_requirements%}
                    <p><b>Minimum Qualification: </b>{{job.minimum_qual_requirements|linebreaksbr}}</p>
                    {% endif %}
                    {% if job.preferred_skills%}
                    <p><b>Preferred Skill: </b>{{job.preferred_skills|linebreaksbr}}</p>
                    {% endif %}
                    {% if job.additional_information%}
                    <p><b>Additional Information: </b>{{job.additional_information|linebreaksbr}}</p>
                    {% endif %}
                </div>
            </div>
            <div class="job-post-item-body d-block d-md-flex">
                <div class="mr-3"><span class="icon-layers"></span> <a>{{job.agency}}</a>
                </div>
                <div><span class="icon-person"></span> <span>{{job.civil_service_title}}</span></div>
            </div>
        </div>

        <div class="one-forth ml-auto d-flex align-items-center mt-4 md-md-0" style="
        width: auto">
            <!-- <div id="alert{{job.id}}" class="alert alert-warning alert-dismissible fade show" role="alert"
                style="display: none;">
                You need to <a href="{% url 'signin:signin'%}"><strong><u>Sign In</u></strong></a> to be
                able to save a job.
                <button type="button" class="close" onclick="$('#alert{{job.id}}').css('display','none');"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div> -->
            <div>
                <form action="{% url 'jobs:saveJob' job.id %}" method=POST class="favJob">
                    {% csrf_token %}
                    <input type="hidden" name="jobs_pk_id" value="{{ job.id }}" />
                    <button type="submit" class="btn">
                        {%if saved_jobs_user is not None and job.id in saved_jobs_user%}
                        <i id="favBtnID{{job.id}}"
                            class=" icon text-center d-flex justify-content-center align-items-center icon mr-2"
                            title="Unsave"
                            style="opacity: 1; background-color: rgb(40, 167, 69) !important;">
                            <span class="icon-heart" style="color:#fdab44;"></span>
                        </i>
                        {% else %}
                        <i id="favBtnID{{job.id}}"
                            class=" icon text-center d-flex justify-content-center align-items-center icon mr-2"
                            title="Save" style="opacity: 1; background-color: rgb(40, 167, 69) !important;">
                            <span class="icon-heart" style="color: rgb(255, 255, 255);"></span>
                        </i>
                        {% endif %}
                    </button>
                    <!-- <a type="button" class=" icon text-center d-flex justify-content-center align-items-center icon mr-2 ">
                        <span class="icon-heart"></span>
                    </a> -->
                </form>
            </div>
            <div>
                {% if request.user.is_authenticated %}

                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary py-2" data-toggle="modal" data-target="#exampleModal1" data-civilServiceTitle="{{job.civil_service_title}}" data-businessTitle="{{job.business_title}}">
                    Apply</button>

                {% else %}

                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary py-2" data-toggle="modal" data-target="#exampleModal" data-civilServiceTitle="{{job.civil_service_title}}" data-businessTitle="{{job.business_title}}">
                    Apply</button>
                {% endif %}


                <!-- <div>
                    <a href="#"
                        class="icon text-center d-flex justify-content-center align-items-center icon mr-2">
                        <span class="icon-heart"></span>
                    </a>
                </div>
                    <a href="#" class="btn btn-primary py-2">Apply Job</a>
                </div> -->
            </div>
        </div>
    </div>
</div>
{% endfor %}
